.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    p {
        text-align: left;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (width >= 800px) {
    .container {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-evenly;
  
      .hero {
        max-width: 350px;
        width: 350px;
      }
    }
}

@media (width >= 1400px) {
    .container {
      .experiece {
        max-width: 400px;
        width: 400px;
      }
    }
}